@use "./mixins";

:root {
    /* variables */
    --primary: #6f1d1b;
    --secondary: #ffe6a7;
    --light-background: #bb9457;
    --dark-background: #432818;
    --darker-background: #0a0101;

    --text-dark: #432818;
    --text-light: #ffe6a7;

    /* spacers */
    --tiny-spacer: 8px;
    --small-spacer: 16px;
    --spacer: 24px;
    --medium-spacer: 48px;
    --large-spacer: 80px;
    
    /* border radius */
    --b-radius: 8px;

    /* navbar */
    --navbar-height: 80px;

    background-color: var(--darker-background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-limelight);
  color: var(--text-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
}
p {
    font-size: 1.5rem;
}
