@use 'app/(pages)/_globals/mixins';

$scale: 1.07;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(96vh - var(--navbar-height));
    width: 100%;
    position: relative;
    padding: var(--large-spacer);
    
    @include mixins.phone {
        padding: var(--medium-spacer);
    }
}

.text_header {
    padding-top: 3rem;
    z-index: 5;
    text-align: center;

    >h3 {
        color: var(--text-light);
        font-size: 3rem;
    }

    >h1 {
        color: var(--text-light);
        font-size: 6rem;
    }

}

.body_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--medium-spacer);
    gap: var(--small-spacer);

    z-index: 5;

    .button {
        padding: 3px 3px;
        border: 1px solid var(--text-light);
        border-radius: var(--b-radius);
        margin: 20px;
        padding: 20px;
        color: var(--text-light);
        font-size: 2rem;
        background-color: rgba( 255, 230, 167, 0.1);
    }

    >* {
        padding: var(--tiny-spacer);
        @include mixins.tablet {
            text-align: center;
            padding: var(--small-spacer);
        }
    }

    >*:hover {
        transform: scale($scale);
        background-color: rgba( 255, 230, 167, 0.4);
        text-shadow: 5px 5px 12px rgba(0, 0, 0, 0.7);
        @include mixins.tablet {
            transform: none;
            border-top: solid 2px var(--primary);
            border-bottom: solid 2px var(--primary);
        }
    }

}